RevPi/node-red-revpi
[{"id":"4164df6e.a8ccb","type":"tab","label":"RevPi-4","disabled":false,"info":""},{"id":"e8e65f3d.9e134","type":"mqtt in","z":"4164df6e.a8ccb","name":"RevPi","topic":"revpi/event/#","qos":"2","broker":"f2a37c85.5505c","x":90,"y":340,"wires":[["9355dfbb.dc18c8"]]},{"id":"9355dfbb.dc18c8","type":"function","z":"4164df6e.a8ccb","name":"Select relais","func":"\nif (msg.topic==\"revpi/event/main_relay\"){\n    if (msg.payload === \"0\"){\n        msg.payload=\"OFF\"\n    } else {\n        msg.payload=\"ACTIVE\"    \n    }\n    return [msg,null,null];\n}\nif (msg.topic==\"revpi/event/relay_1\"){\n    if (msg.payload === \"0\"){\n        msg.payload=\"CLOSED\"\n    } else {\n        msg.payload=\"OPEN\"    \n    }\n    return [null, msg, null];\n}  \nif (msg.topic==\"revpi/event/relay_2\"){\n    if (msg.payload === \"0\"){\n        msg.payload=\"CLOSED\"\n    } else {\n        msg.payload=\"OPEN\"    \n    }\n    return [null,null,msg];\n}\nreturn","outputs":3,"noerr":0,"x":270,"y":340,"wires":[["47293dd2.59e3b4"],["a12f474d.ba3b3"],["2bc9585d.a9e9e"]]},{"id":"47293dd2.59e3b4","type":"ui_text","z":"4164df6e.a8ccb","group":"e28c88e6.aa7908","order":2,"width":"3","height":"2","name":"main relay","label":"","format":"{{msg.payload}}","layout":"col-center","x":490,"y":220,"wires":[]},{"id":"5a3dfc21.e0fdc4","type":"ui_button","z":"4164df6e.a8ccb","name":"main-switch-active","group":"e28c88e6.aa7908","order":1,"width":"3","height":"1","passthru":false,"label":"SYSTEM ACTIVE","tooltip":"","color":"","bgcolor":"#111111","icon":"touch_app","payload":"1","payloadType":"num","topic":"revpi/set/main_relay","x":670,"y":180,"wires":[["708e4178.8cb6b"]]},{"id":"b9c57b06.147b9","type":"ui_button","z":"4164df6e.a8ccb","name":"main_switch-off","group":"e28c88e6.aa7908","order":3,"width":0,"height":0,"passthru":false,"label":"SYSTEM OFF","tooltip":"","color":"","bgcolor":"","icon":"touch_app","payload":"0","payloadType":"num","topic":"revpi/set/main_relay","x":660,"y":240,"wires":[["543417d9.930928"]]},{"id":"708e4178.8cb6b","type":"mqtt out","z":"4164df6e.a8ccb","name":"RevPi main relay","topic":"revpi/set/main_relay","qos":"2","retain":"true","broker":"f2a37c85.5505c","x":890,"y":180,"wires":[]},{"id":"543417d9.930928","type":"mqtt out","z":"4164df6e.a8ccb","name":"RevPi main relay","topic":"revpi/set/main_relay","qos":"2","retain":"true","broker":"f2a37c85.5505c","x":890,"y":240,"wires":[]},{"id":"a12f474d.ba3b3","type":"ui_text","z":"4164df6e.a8ccb","group":"abefb619.f61ee8","order":2,"width":"4","height":"2","name":"relay 1","label":"","format":"{{msg.payload}}","layout":"col-center","x":470,"y":340,"wires":[]},{"id":"6131c9ed.42276","type":"ui_button","z":"4164df6e.a8ccb","name":"switch_1 open","group":"abefb619.f61ee8","order":1,"width":"4","height":"1","passthru":false,"label":"Outside Door OPEN","tooltip":"","color":"","bgcolor":"#111111","icon":"touch_app","payload":"1","payloadType":"num","topic":"revpi/set/relay_1","x":660,"y":320,"wires":[["3840f2bb.6f1cc6"]]},{"id":"97b1755a.b45dc8","type":"ui_button","z":"4164df6e.a8ccb","name":"switch_1 closed","group":"abefb619.f61ee8","order":3,"width":"4","height":"1","passthru":false,"label":"Outside Door Closed","tooltip":"","color":"","bgcolor":"","icon":"touch_app","payload":"0","payloadType":"num","topic":"revpi/set/relay_1","x":660,"y":380,"wires":[["2b21fac1.1bc1b6"]]},{"id":"307004c1.02fd5c","type":"ui_button","z":"4164df6e.a8ccb","name":"switch_2 open","group":"40bcdd73.dead54","order":1,"width":"4","height":"1","passthru":false,"label":"Inside door Open","tooltip":"","color":"","bgcolor":"#111111","icon":"touch_app","payload":"1","payloadType":"num","topic":"revpi/set/relay_2","x":660,"y":440,"wires":[["876de806.3cb6a"]]},{"id":"4763b678.75808","type":"ui_button","z":"4164df6e.a8ccb","name":"switch_2 closed","group":"40bcdd73.dead54","order":3,"width":"4","height":"1","passthru":false,"label":"Inside Door Closed","tooltip":"","color":"","bgcolor":"","icon":"touch_app","payload":"0","payloadType":"num","topic":"revpi/set/relay_2","x":660,"y":500,"wires":[["bf0b2ed7.6c4128"]]},{"id":"3840f2bb.6f1cc6","type":"mqtt out","z":"4164df6e.a8ccb","name":"RevPi relay 1","topic":"","qos":"","retain":"","broker":"f2a37c85.5505c","x":880,"y":320,"wires":[]},{"id":"2b21fac1.1bc1b6","type":"mqtt out","z":"4164df6e.a8ccb","name":"RevPi relay 1","topic":"","qos":"","retain":"","broker":"f2a37c85.5505c","x":880,"y":380,"wires":[]},{"id":"876de806.3cb6a","type":"mqtt out","z":"4164df6e.a8ccb","name":"RevPi relay 2","topic":"","qos":"","retain":"","broker":"f2a37c85.5505c","x":880,"y":440,"wires":[]},{"id":"bf0b2ed7.6c4128","type":"mqtt out","z":"4164df6e.a8ccb","name":"RevPi relay 2","topic":"","qos":"","retain":"","broker":"f2a37c85.5505c","x":880,"y":500,"wires":[]},{"id":"2bc9585d.a9e9e","type":"ui_text","z":"4164df6e.a8ccb","group":"40bcdd73.dead54","order":2,"width":"4","height":"2","name":"relay 2","label":"","format":"{{msg.payload}}","layout":"col-center","x":470,"y":460,"wires":[]},{"id":"da5b4d1a.6256e","type":"buienradar","z":"4164df6e.a8ccb","name":"Buienradar","station":"6370","interval":"600000","forecast":false,"x":90,"y":620,"wires":[["c566aaa.98078d8"]]},{"id":"7d780950.0fb4d8","type":"ui_gauge","z":"4164df6e.a8ccb","name":"Temperatuur","group":"8ac58c23.88c48","order":1,"width":"4","height":"2","gtype":"gage","title":"Temperatuur (Celsius)","label":"","format":"","min":"-15","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"25","x":710,"y":580,"wires":[]},{"id":"c566aaa.98078d8","type":"function","z":"4164df6e.a8ccb","name":"Filter temperatuur","func":"var msg_temp = {payload: msg.payload.buienradar.temperatuurGC };\n\nvar msg_hum = {payload: msg.payload.buienradar.luchtvochtigheid };\n\nreturn [msg_temp, msg_hum];","outputs":2,"noerr":0,"x":390,"y":620,"wires":[["7d780950.0fb4d8"],["c83bbb1c.d2abf"]]},{"id":"c83bbb1c.d2abf","type":"ui_gauge","z":"4164df6e.a8ccb","name":"Humitidy","group":"8ac58c23.88c48","order":2,"width":"4","height":"2","gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":710,"y":660,"wires":[]},{"id":"f2a37c85.5505c","type":"mqtt-broker","z":"","name":"RevPi","broker":"10.0.0.4","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e28c88e6.aa7908","type":"ui_group","z":"","name":"Warehouse","tab":"80ea1dcc.bb8e98","order":1,"disp":true,"width":"3","collapse":false},{"id":"abefb619.f61ee8","type":"ui_group","z":"","name":"Outside door","tab":"80ea1dcc.bb8e98","order":2,"disp":true,"width":"4","collapse":false},{"id":"40bcdd73.dead54","type":"ui_group","z":"","name":"Inside door","tab":"80ea1dcc.bb8e98","order":3,"disp":true,"width":"4","collapse":false},{"id":"8ac58c23.88c48","type":"ui_group","z":"","name":"Temperature & Humidity","tab":"80ea1dcc.bb8e98","order":4,"disp":true,"width":"6","collapse":false},{"id":"80ea1dcc.bb8e98","type":"ui_tab","z":"","name":"Doors","icon":"dashboard","disabled":false,"hidden":false}]