RevPi/node-red-revpi
[{"id":"4135db50.c06144","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9ecfdfd6.f99f9","type":"mqtt-broker","z":"","name":"RevPi","broker":"10.0.0.3","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"25afb7f4.feeb18","type":"ui_group","z":"","name":"test","tab":"","disp":true,"width":"6","collapse":false},{"id":"29cb807c.24595","type":"ui_tab","z":"","name":"Doors","icon":"dashboard","disabled":false,"hidden":false},{"id":"47f056d7.27fbc8","type":"ui_group","z":"","name":"Warehouse","tab":"29cb807c.24595","order":1,"disp":true,"width":"3","collapse":false},{"id":"9fbc4638.abeb58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"9-feb-2019","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e3e25442.2c3628","type":"ui_group","z":"","name":"Outside door","tab":"29cb807c.24595","order":2,"disp":true,"width":"4","collapse":false},{"id":"e141bada.34f038","type":"ui_group","z":"","name":"Temperature & Humidity","tab":"29cb807c.24595","order":4,"disp":true,"width":"6","collapse":false},{"id":"b02fbdc1.bf23","type":"ui_group","z":"","name":"Inside door","tab":"29cb807c.24595","order":3,"disp":true,"width":"4","collapse":false},{"id":"676882e0.1a06bc","type":"ui_spacer","name":"spacer","group":"b02fbdc1.bf23","order":4,"width":1,"height":1},{"id":"30574fc2.ce792","type":"mqtt in","z":"4135db50.c06144","name":"RevPi","topic":"revpi/event/#","qos":"2","broker":"9ecfdfd6.f99f9","x":90,"y":340,"wires":[["d53951ea.49071"]]},{"id":"d53951ea.49071","type":"function","z":"4135db50.c06144","name":"Select relais","func":"\nif (msg.topic==\"revpi/event/main_relais\"){\n    if (msg.payload === \"0\"){\n        msg.payload=\"OFF\"\n    } else {\n        msg.payload=\"ACTIVE\"    \n    }\n    return [msg,null,null];\n}\nif (msg.topic==\"revpi/event/relais_1\"){\n    if (msg.payload === \"0\"){\n        msg.payload=\"CLOSED\"\n    } else {\n        msg.payload=\"OPEN\"    \n    }\n    return [null, msg, null];\n}  \nif (msg.topic==\"revpi/event/relais_2\"){\n    if (msg.payload === \"0\"){\n        msg.payload=\"CLOSED\"\n    } else {\n        msg.payload=\"OPEN\"    \n    }\n    return [null,null,msg];\n}\nreturn","outputs":3,"noerr":0,"x":270,"y":340,"wires":[["5734cc22.2afa24"],["48d4675.7f67398"],["9911cda0.5ac93"]]},{"id":"5734cc22.2afa24","type":"ui_text","z":"4135db50.c06144","group":"47f056d7.27fbc8","order":2,"width":"3","height":"2","name":"main relais","label":"","format":"{{msg.payload}}","layout":"col-center","x":490,"y":220,"wires":[]},{"id":"7dec5956.99b378","type":"ui_button","z":"4135db50.c06144","name":"main-switch-active","group":"47f056d7.27fbc8","order":1,"width":"3","height":"1","passthru":false,"label":"SYSTEM ACTIVE","tooltip":"","color":"","bgcolor":"#111111","icon":"touch_app","payload":"1","payloadType":"num","topic":"revpi/set/main_relais","x":670,"y":180,"wires":[["c8c10d2f.94ade"]]},{"id":"e5b853af.67f9","type":"ui_button","z":"4135db50.c06144","name":"main_switch-off","group":"47f056d7.27fbc8","order":3,"width":0,"height":0,"passthru":false,"label":"SYSTEM OFF","tooltip":"","color":"","bgcolor":"","icon":"touch_app","payload":"0","payloadType":"num","topic":"revpi/set/main_relais","x":660,"y":240,"wires":[["37dd19a2.9e3466"]]},{"id":"c8c10d2f.94ade","type":"mqtt out","z":"4135db50.c06144","name":"RevPi main relais","topic":"revpi/set/main_relais","qos":"2","retain":"true","broker":"9ecfdfd6.f99f9","x":890,"y":180,"wires":[]},{"id":"37dd19a2.9e3466","type":"mqtt out","z":"4135db50.c06144","name":"RevPi main relais","topic":"revpi/set/main_relais","qos":"2","retain":"true","broker":"9ecfdfd6.f99f9","x":890,"y":240,"wires":[]},{"id":"48d4675.7f67398","type":"ui_text","z":"4135db50.c06144","group":"e3e25442.2c3628","order":2,"width":"4","height":"2","name":"relais 1","label":"","format":"{{msg.payload}}","layout":"col-center","x":480,"y":340,"wires":[]},{"id":"37146991.9b5926","type":"ui_button","z":"4135db50.c06144","name":"switch_1 open","group":"e3e25442.2c3628","order":1,"width":"4","height":"1","passthru":false,"label":"Outside Door OPEN","tooltip":"","color":"","bgcolor":"#111111","icon":"touch_app","payload":"1","payloadType":"num","topic":"revpi/set/relais_1","x":660,"y":320,"wires":[["e6b9fde9.14d76"]]},{"id":"9acc2d74.553f7","type":"ui_button","z":"4135db50.c06144","name":"switch_1 closed","group":"e3e25442.2c3628","order":3,"width":"4","height":"1","passthru":false,"label":"Outside Door Closed","tooltip":"","color":"","bgcolor":"","icon":"touch_app","payload":"0","payloadType":"num","topic":"revpi/set/relais_1","x":660,"y":380,"wires":[["5a121378.8fb52c"]]},{"id":"1acecb53.294ff5","type":"ui_button","z":"4135db50.c06144","name":"switch_2 open","group":"b02fbdc1.bf23","order":1,"width":"4","height":"1","passthru":false,"label":"Inside door Open","tooltip":"","color":"","bgcolor":"#111111","icon":"touch_app","payload":"1","payloadType":"num","topic":"revpi/set/relais_2","x":660,"y":440,"wires":[["e7af6eb6.220d6"]]},{"id":"159b41ca.d207fe","type":"ui_button","z":"4135db50.c06144","name":"switch_2 closed","group":"b02fbdc1.bf23","order":3,"width":"4","height":"1","passthru":false,"label":"Inside Door Closed","tooltip":"","color":"","bgcolor":"","icon":"touch_app","payload":"0","payloadType":"num","topic":"revpi/set/relais_2","x":660,"y":500,"wires":[["f0753a9b.9fbe38"]]},{"id":"e6b9fde9.14d76","type":"mqtt out","z":"4135db50.c06144","name":"RevPi relais 1","topic":"","qos":"","retain":"","broker":"9ecfdfd6.f99f9","x":880,"y":320,"wires":[]},{"id":"5a121378.8fb52c","type":"mqtt out","z":"4135db50.c06144","name":"RevPi relais 1","topic":"","qos":"","retain":"","broker":"9ecfdfd6.f99f9","x":880,"y":380,"wires":[]},{"id":"e7af6eb6.220d6","type":"mqtt out","z":"4135db50.c06144","name":"RevPi relais 2","topic":"","qos":"","retain":"","broker":"9ecfdfd6.f99f9","x":880,"y":440,"wires":[]},{"id":"f0753a9b.9fbe38","type":"mqtt out","z":"4135db50.c06144","name":"RevPi relais 2","topic":"","qos":"","retain":"","broker":"9ecfdfd6.f99f9","x":880,"y":500,"wires":[]},{"id":"9911cda0.5ac93","type":"ui_text","z":"4135db50.c06144","group":"b02fbdc1.bf23","order":2,"width":"4","height":"2","name":"relais 2","label":"","format":"{{msg.payload}}","layout":"col-center","x":480,"y":460,"wires":[]},{"id":"eb555709.0b0818","type":"buienradar","z":"4135db50.c06144","name":"Buienradar","station":"6370","interval":"600000","forecast":false,"x":90,"y":620,"wires":[["c72a3ae8.e61b48"]]},{"id":"bdbfead4.5b97d8","type":"ui_gauge","z":"4135db50.c06144","name":"Temperatuur","group":"e141bada.34f038","order":1,"width":"4","height":"2","gtype":"gage","title":"Temperatuur (Celsius)","label":"","format":"","min":"-15","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"25","x":710,"y":580,"wires":[]},{"id":"c72a3ae8.e61b48","type":"function","z":"4135db50.c06144","name":"Filter temperatuur","func":"var msg_temp = {payload: msg.payload.buienradar.temperatuurGC };\n\nvar msg_hum = {payload: msg.payload.buienradar.luchtvochtigheid };\n\nreturn [msg_temp, msg_hum];","outputs":2,"noerr":0,"x":390,"y":620,"wires":[["bdbfead4.5b97d8"],["fc32bf96.5f8da"]]},{"id":"fc32bf96.5f8da","type":"ui_gauge","z":"4135db50.c06144","name":"Humitidy","group":"e141bada.34f038","order":2,"width":"4","height":"2","gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":710,"y":660,"wires":[]}]
